<div class="form-group">
	<label for="no_rek">Nomor Rekening</label>
	<input type="text" name="no_rek" class="form-control">
</div>
<div class="form-group">
	<label for="nama">Nama</label>
	<input type="text" name="nama" class="form-control">
</div>
<div class="form-group">
	<label for="alamat">Alamat</label>
	<textarea class="form-control" id="alamat"></textarea>
</div>
<div class="form-group">
	<label for="no_tel">Nomor Telepon</label>
	<input type="text" name="no_tel" class="form-control">
</div>
<div class="form-group">
	<button (click)="createTabungan()" class="btn btn-primary">Submit</button>
</div>